/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Transparência no header */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
}

header p {
    font-size: 3rem;
    margin-top: 10px;
    color: #007cb1; /* Azul da logo */
}

/* Banner Styles */
.banner {
    text-align: center;
    margin-bottom: 20px;
    background: url('../img/backgroundsite.png') no-repeat center center;
    background-size: cover;
}

.banner-img {
    width: 100%;
    height: auto;
}

/* Info Section Styles */
.info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Transparência na info */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: url('../img/backgroundsite.png') no-repeat center center;
    background-size: cover;
}

.info-item {
    text-align: center;
    max-width: 200px;
}

.info-item img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.5s;
    transform: translateX(0) scale(1);
}

.info-item img:hover,
.info-item img:focus {
  transform: translateX(5px) scale(1.2);
}

.info-item p {
    font-size: 1rem;
    color: #007cb1; /* Azul da logo */
}

/* Vitamin Section Styles */
.vitamin-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vitamin {
    width: 100%;
    padding: 75px 0;
    background-size: cover;
}

.vitamin .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente para conteúdo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vitamin .product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.vitamin img {
    max-width: 600px; /* Aumentado o tamanho máximo das imagens */
    height: auto;
    border-radius: 80px;
}

.vitamin .product-description {
    max-width: 700px;
    text-align: justify;
}

.vitamin p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000000; /* Texto escuro para contraste */
}

.vitamin .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffd700; /* Ouro para preço */
    margin-bottom: 10px;
}

.vitamin .discount {
    font-size: 3rem;
    font-weight: bold;
    color: #ff4500; /* Laranja escuro para desconto */
}

/* Background gradients for sections */
.slim-section {
    background: linear-gradient(135deg, rgba(232, 121, 0, 0.8), rgba(255, 255, 255, 0.8)), url('../img/backgroundsite.png') no-repeat center center;
    background-size: cover;
}

.artro-section {
    background: linear-gradient(135deg, rgba(0, 61, 51, 0.8), rgba(0, 210, 187, 0.8)), url('../img/backgroundsite.png') no-repeat center center;
    background-size: cover;
}

.calm-section {
    background: linear-gradient(135deg, rgba(61, 23, 69, 0.8), rgba(2, 166, 178, 0.8)), url('../img/backgroundsite.png') no-repeat center center;
    background-size: cover;
}

.calm-section .content {
    background: rgba(255, 255, 255, 0.3); /* Fundo semi-transparente para conteúdo */
    border-radius: 8px;
    padding: 20px;
}

.calm-section h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: rgba(59, 28, 70, 0.8); /* Azul da logo */
}

.slim-section h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: rgba(248, 131, 0, 0.8); /* Azul da logo */
}

.artro-section h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: rgba(0, 70, 58, 0.8); /* Azul da logo */
}

.slim-section .content {
    background: rgba(25, 255, 255, 0.3); /* Fundo semi-transparente para conteúdo */
    border-radius: 8px;
    padding: 20px;
}

.artro-section .content {
    background: rgba(255, 255, 255, 0.3); /* Fundo semi-transparente para conteúdo */
    border-radius: 8px;
    padding: 20px;
}

/* New Section Styles */
.who-section {
    text-align: center;
    padding: 50px 20px;
    background: url('../img/backgroundsite.png') no-repeat center center;
    background-size: cover;
    color: #333;
}

.who-section h2 {
    font-size: 3rem;
    color: #007cb1; /* Azul da logo */
}

.who-section h2 span {
    font-size: 3rem;
    color: #ff4500; /* Laranja escuro */
}

.who-section p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.daily {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-dose {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.daily-dose img {
    max-width: 750px; /* Ajustado o tamanho da imagem */
    height: auto;
}

.daily-dose-content {
    max-width: 100%;
    text-align: justify;
    margin: 10px 70px 10px 60px;
    padding: 15px 15px 15px 15px;
    background-color: #F0E9F8;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #A35FCC5E;
    border-radius: 30px 30px 30px 30px;
}

.daily-dose-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
    margin-bottom: -3%;
}

.daily-dose-item p {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center; 
}

.daily-dose-content1 h3 {
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.daily-dose-content img {
    max-width: 150px; /* Ajustado o tamanho da imagem */
    display: block;
    text-align: center;
    transition: transform 0.5s;
    transform: translateX(0) scale(1);
}

.daily-dose-content img:hover,
.daily-dose-content img:focus {
  transform: translateX(5px) scale(1.2);
}

.daily-dose-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.daily-dose-user p {
    font-size: 1.5rem;
    color: #333;
    margin-left: 25%;
    margin-right: 25%;
    
}
.daily-dose-user h3 {
    font-size: 1.7rem;
    color: #333;
}

/* Benefits Section */
.benefits {
    text-align: center;
    padding: 50px 20px;
    background-color: #3cd6c6; /* Laranja escuro */
    color: white;
}

.benefits h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.benefits h2 span {
    color: #1b609e; /* Ouro */
}

.stars {
    font-size: 3rem;
    color: #fffb00; /* Ouro */
    margin-bottom: 20px;
}

.button-pulsate {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: #ffae00; /* Amarelo escuro */
    border: 2px solid #ffae00;
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(0.9);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 20px 50px rgba(0, 0, 0, 0);
    }
}

.button-pulsate:hover {
    box-shadow: 20px 40px 50px 0px rgba(0, 0, 0, 0.22);
    transform: scale(10.05);
}

/* Stilo como comprar */
.purchase-section {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
}

.purchase-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.purchase-section .highlight {
    color: #1b609e; /* Cor destacada */
}

.gif-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gif-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.purchase-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.purchase-footer .footer-item {
    text-align: center;
    max-width: 200px;
}

.purchase-footer .footer-item img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.purchase-footer .footer-item p {
    font-size: 0.9rem;
    color: #333;
}


/* Footer Style */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.footer-content p {
    margin: 5px 0;
}

.footer-copyright {
    margin-top: 15px;
    border-top: 1px solid #555;
    padding-top: 10px;
}

.footer-content p,
.footer-copyright p {
    line-height: 1.5;
}
